<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Weex Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no, email=no">
  <link rel="stylesheet" href="./assets/style.css">
  <script src="./config.js"></script>
  <script src="./assets/url.js"></script>
  <script src="./assets/vue.js"></script>
  <script src="./assets/vue-qrcode.js"></script>
</head>
<body>
  <h1>Weex Preview</h1>
  <div id="app">
    <div class="mock-phone">
      <div class="inner">
        <iframe id="preview" src="./weex.html"></iframe>
      </div>
      <div class="camera"></div>
      <div class="earpiece"></div>
      <div class="home-btn"></div>
    </div>
    <div id="qrcode">
      <h2>QRCode</h2>
      <a :href="val" target="_blank"><qrcode :val="val" :size="size" :bg-color="bgColor" :fg-color="fgColor" level="L"></qrcode></a>
      <p class="bundle-url"><a :href="val" target="_blank">{{val}}</a></p>
    </div>
  </div>
  <script>
    console.log('QR CODE URL: ' + url)

    new Vue({
      el: '#app',
      components: {
        qrcode: VueQr
      },
      data: {
        val: url,
        size: 200,
        bgColor: 'white',
        fgColor: 'black'
      }
    })
  </script>
</body>
</html>
